.App {
  text-align: center;
  margin-top: 60px;
  background-color: #66717E;
  padding-bottom: 20px;
}

#myNav {
  background-color: #66717E;
}

.myLink {
  color: #D4D6B9 !important;
}

.myLink:hover {
  color: #F29E4C !important;
}

#heroImage {
  width: 150px;
  height: 100%;
  display: inline-block;
}

#heroDiv {
  margin: 0;
  width: 100%;
  background-color: #66717E;
  padding: 20px 0 20px 0;
}

#heroHeader {
  color: #F8F9FA;
}

.myContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #F8F9FA;
  padding: 20px;
}

#searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.myFlexBox {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: #F8F9FA;
  justify-content: center;
}

#myFlexBox>div {
  margin: 10px;
  text-align: center;
}

.myCard {
  margin: 10px !important;
  box-shadow: 1px 1px 5px 1px #aaaaaa;
  width: 18rem;
}

.myCard:hover {
  box-shadow: 1px 1px 10px 1px #aaaaaa;
}

.cardLink {
  color: #66717E;
  text-decoration: none;
}

.cardLink:hover {
  color: black;
}

#recipeImage {
  box-shadow: 1px 1px 10px 1px #aaaaaa;
}