.App {
  text-align: center;
  margin-top: 100px;
}

#myNav {
  background-color: #0B0033;
}

.myLink {
  color: #aec4ff !important;
}

.myLink:hover {
  color: #dae4ff !important;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 500px;
  width: 100%;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

#container {
  width: 80%;
  margin: 0 auto;
}

#searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.myFlexBox {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: #F8F9FA;
  justify-content: center;
}

#myFlexBox>div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
}