// Compile command: sass src/scss/styles.scss src/css/styles.css
$darkBackground: #161B22;

.App {
    text-align: center;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#searchBar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.myContainer {
    color: red !important;
    background-color: blue !important;
}

#myFlexBox {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #f4f4f4;
    justify-content: center;
}

#myFlexBox>div {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
}

.recipeCard {
    width: 18rem;
    margin: 0 auto;
    color: black;

    &:hover {
        box-shadow: 5px 5px 5px gray;
    }
}

.pageButton {
    color: #696969 !important;
    background-color: white !important;
    border: none !important;

    &:hover {
        color: black !important;
    }
}

.backButton {
    margin-bottom: 10px !important;
    color: #696969 !important;
    border: none !important;
    border-bottom: 1px solid #dcdcdc !important;
    background-color: white !important;
    border-radius: 0 !important;

    &:hover {
        color: black !important;
        border-bottom: 1px solid black !important;
    }
}

@media only screen and (max-width: 700px) {
    .hideOnMediaQuery {
        display: none !important;
    }

    #container {
        width: 100% !important;
    }
}